<div class="window">
  <div class="shadow-lg bg-white rounded form">
    <div>
      <nav class="navbar navbar-dark bg-primary">
        <span class="navbar-text header">
          ChatApp
        </span>
      </nav>
      <div class="chatsWindow">
        <div>
          <div class="chat" *ngFor="let message of messageList">
            {{message}}
          </div>
        </div>
          <p class="feedback" name="feedback">{{feedback}}</p>
      </div>
      <div class="input">
        <div class="name">
          <input type="text" class="namefield" [(ngModel)]="name" name="name" placeholder="Your Name">
        </div>
        <div class="message">
          <input type="text" (input)="onInput()" class="messagefield" [(ngModel)]="message"  name="message" placeholder="message">
        </div>
        <div class="button">
          <button  class="btn btn-primary btn-lg button" (click)="send()">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>